@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(//themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

h1,h2,h3,h4,h5 {
  /*font-family: 'Lato',sans-serif;*/
  font-size: 18px;
  color: #333;
  margin-top: 30px;
  line-height: 1.5em;
  letter-spacing: 0;
  /*font-size: 20px;*/
  margin-top: .8rem;
  margin-bottom: .6rem;
}

h1 {
  margin-bottom: 1rem;
}

html, body {
  background: #FFF;
  color: #666;
  /*font-family: 'Myriad Pro',Helvetica,Arial,sans-serif;*/
  font-family: 'Lora', serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover{
  color: #333;
  text-decoration: underline;
}

pre, blockquote, form, dl, figure, table, p, ul, ol, form {
  margin-bottom: 1rem;
}

li {
  margin-bottom: .2rem;
}

ul {
  list-style-position: outside;
  margin-left: 20px;
}

.row {
  margin-bottom: 1rem;
}

.masthead {
  background-color: white;
  line-height: 205px;
  height: 205px;
  margin-bottom: 60px;
  overflow: hidden;
  text-align: center;
}


.masthead img {
  background-color: white;
  line-height: 190px;
  height: 190px;
}

.masthead .container {
  height: 100%
}

.masthead h1, .masthead h2, .masthead h3, .masthead h4 {
  color: #666;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  text-transform: none;
}

.masthead small, .masthead small, .masthead small, .masthead small {
  font-size: 70%;
  font-weight: normal;
}

.masthead:after {
  content: '';
}

.masthead img {
  background-color: white;
  line-height: 150px;
  height: 150px;
}

@media(max-width: 600px) {
  .masthead h1 { font-size: 30px }
  .masthead h2 { font-size: 26px }
  .masthead h3 { font-size: 22px }
}

@media(min-width: 600px) {
  h1 { font-size: 28px }
  h2 { font-size: 26px }
  h3 { font-size: 20px }
  h4 { font-size: 18px }
  .masthead h1 { font-size: 36px }
  .masthead h2 { font-size: 30px }
  .masthead h3 { font-size: 28px }
}

@media(min-width: 1000px) {
  html,body {
      font-size:16px
  }

  .boxout {
      padding: 30px 40px;
      font-size: 22px
  }

  h1 { font-size: 28px }
  h2 { font-size: 26px }
  h3 { font-size: 20px }
  h4 { font-size: 18px }
  .masthead h1 { font-size: 40px }
  .masthead h2 { font-size: 36px }
  .masthead h3 { font-size: 33px }

  .boxout h1,.boxout h2 { font-size: 28px }
}


/*-=-=-=-=-*/
/*back btn*/
/*-=-=-=-=-*/

.back-button {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.back-button a {
  text-decoration: none;
  color: #AAA;
  font-size: small;
}

/*-=-=-=-*/
/*footer*/
/*-=-=-=-*/

.spacer {
  padding: 6px;
}


.footer {
  margin-top: 30px;
  position: relative;
}

.footer .inner {
  position: absolute;
  text-align: center;
  left: 0; right: 0;
  bottom: 0;
}

.footer *, .footer *:hover {
  font-size: .9em;
  color: #AAA;
}

.footer a, .footer:hover a {
  text-decoration: none;
}

/*-=-=-*/
/*code*/
/*-=-=-*/

.code-section {
  margin-bottom: 1rem;
}

.container + .code-section {
  margin-top: -1rem;
}

.code-section.u-full-width {
  background-color: #464d53
}

code {
  padding: 0;
  background: none;
  border: none;
}

pre {
  margin: 0;
  padding: .4rem 0;
}
pre > code {
  padding: 0;
}

code .ace-tomorrow-night {
  background: none;
}

code .ace_static_highlight {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 40px;
}

/*-=-=-=-=-=-=-=-=-=-*/
/*text / paragraphs*/
/*-=-=-=-=-=-=-=-=-=-*/
.row p {
  text-align: justify;
}

.tutorial .row {
  margin-bottom: 40px;
}

.tutorial .row p {
  text-align: center;
}

.hidden { display: none; }
