html, body {
  font-size: 18px;
}


a {
  color: #666;
  text-decoration: none;
}

a:hover{
  color: #666;
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;
}

.greeting h1,h2,h3,h4,h5 {
  text-align: center;  
  /*font-family: 'Myriad Pro',Helvetica,Arial,sans-serif;*/
  padding: 0;
  color: #BBB;
  /*font-weight: 700;*/
  /*font-size: 22px;*/
  /*font-weight: 500;*/
  line-height: 1.1;
  margin: 0px;
}

.masthead {
  margin-bottom: 00px;
}

.greeting {
  margin-bottom: 70px;
}
.greeting p {
  text-align: center;
}

.post {
  text-align: center;
}

.post .date {
  margin-left: -10px;
  font-size: 14px;
  padding: 10px;
  color: #666; 
}